<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>

    <body>
        <!-- HEADER -->

        <%- include('partials/header') %>

            <!-- HEADER -->
            <div class="registro">
                <main>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="container">
                            <div class="row justify-content-center">
                                <h1 class="text-center my-5">Login</h1>
                                <h4 class="titulos">Tu Email y Contraseña</h4>
                                <div class="col-12 col-md-12 col-lg-8">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="email" placeholder="Email"
                                            name="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-8">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="pass" placeholder="Contraseña"
                                            name="pass">
                                        <label for="pass">Contraseña</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-8">
                                    <div>
                                    <input type="checkbox" name="recordar" id="recordar">
                                    <label for="recordar" class="recordar">Recordarme</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 text-center">
                                    <button class="botonPagar"><a href="#">Ingresar</a></button>
                                    <p class="mt-4">¿No estás registrado? <a href="/users/register">Registrate</a></p>
                                </div>
                                <div class="col-12 col-md-8 text-center redes">
                                    <p>O ingresa con</p>
                                    <div>
                                        <a href="#" class="google"><img src="/images/registro/google.png" alt=""><i
                                                class="fab fa-google"></i></a>
                                        <a href="#" class="facebook"><img src="/images/registro/facebook.png" alt=""><i
                                                class="fab fa-facebook-f"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </main>
            </div>
            <%- include("partials/what") %>
            <!-- FOOTER -->

            <%- include('partials/footer') %>

                <!-- FOOTER -->

                <%- include("partials/scriptBS") %>
    </body>

</html>