<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
    <div class="container-fluid">
      <div class="profile row ">
        <img src="/images/userAvatar/<%= result.avatar %> " alt="">
        <ul class="list-group col-10 col-lg-8">
          <li class="list-group-item"><p>Nombre : <%= result.name  %></p></li>
          <li class="list-group-item"><p>Apellido : <%=  result.last_name  %></p></li>
          <li class="list-group-item"><p>Email : <%=  result.email  %></p></li>
        </ul>
        <a href="/users/edit/<%=  result.id  %>"><button class="btn-profile col-3 col-lg-2">Editar perfil</button></a>
      </div>
    </div>
      



      <%- include("partials/footer") %>
        <%- include("partials/scriptBS") %>


  </body>

</html>