<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
      <div class="container-fluid">
        <div class="profile-edit row ">

          <img src="/images/userAvatar/mother8.jpeg" alt="">
          <form action="/users/update/<%= result.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <section class="product-img col-12">
              <label for="img"><span>Modificar imagen</span></label>
                  <input type="file" name="image" id="img" value="<%= result.avatar %> ">
            </section>
            <div class="col-12 justify-content-center pregcontra">
              <h3>Modifica tus datos personales</h3>
            </div>
            <ul class="">
              <div class="form-floating mb-3">
                <input type="text" value="<%= result.nombre %> " name="name" class="form-control" id="floatingInput" placeholder="Nombre de usuario">
                <label for="floatingInput">
                  Nombre
                </label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" value="<%= result.apellido %> " name="apellido" class="form-control" id="floatingtext" placeholder="Apellido de usuario">
                <label for="floatingtext">
                  Apellido
                </label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" value="<%= result.email %> " class="form-control" name="email" id="floatingInput" placeholder="Email de usuario">
                <label for="floatingInput">
                  Email
                </label>
              </div>
            </ul>
            <button class="btn-profile-edit col-6" type="submit">Actualizar</button>
          </form>
          <form action="/users/delete/<%= result.id %>?_method=DELETE" method="POST" class="card-body__form">
            <button class="btn-profile-eliminate col-6" type="submit">Eliminar Perfil</button>
          </form>
        </div>
      </div>




      <%- include("partials/footer") %>
        <%- include("partials/scriptBS") %>


  </body>

</html>