<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
    <div class="container-fluid">
      <div class="profile row ">
        <img src="/images/userAvatar/<%= user.avatar %> " alt="">
        <ul class="list-group col-12 col-lg-6">
          <li class="list-group-item"><p>Nombre : <%= user.nombre  %></p></li>
          <li class="list-group-item"><p>Apellido : <%=  user.apellido  %></p></li>
          <li class="list-group-item"><p>Email : <%=  user.email  %></p></li>
        </ul>
        <button class="btn-profile col-12"><a href="/users/edit/<%=  user.id  %>">Editar perfil</a></button>
      </div>
    </div>
      



      <%- include("partials/footer") %>
        <%- include("partials/scriptBS") %>


  </body>

</html>