<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
      <div class="container-fluid">
        <div class="profile-edit row ">

          
          <form class=" " id="formPerfil" action="/users/update/<%= result.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <section class="col-12 col-lg-4">
              <label for="img">
                <div id="img-preview-perfil">
                  <img src="/images/userAvatar/<%= result.avatar %>" alt="">
                </div>
                
              </label>
              <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                <input class="imagenPerfil input-file" type="file" name="image" id="imgPerfil" value="<%= result.avatar %>">Cambiar Avartar
              </div>
              <span id="imgErrorPerfil"></span>
            </section>
            <div class="mb-4">
              <h3>Modifica tus datos personales</h3>
            </div>
            <ul class="">
              <div class="form-floating mb-3">
                <input type="text" value="<%= result.name %>" name="name" class="form-control" id="nombrePerfil" placeholder="Nombre de usuario">
                <label for="floatingInput">
                  Nombre
                </label>
                <span id="nombrePerfilError"></span>
              </div>
              <div class="form-floating mb-3">
                <input type="text" value="<%= result.last_name %>" name="apellido" class="form-control" id="apellidoPerfil" placeholder="Apellido de usuario">
                <label for="floatingtext">
                  Apellido
                </label>
                <span id="apellidoPerfilError"></span>
              </div>
              <div class="form-floating mb-3">
                
                <input type="text" value="<%= result.provincia %>" name="provincia" class="form-control" id="floatingtext">
                <label for="inputProvincia">Provincia</label>
                <!-- <select name="provincia" class="form-control" id="provinciaSelect">
                  <option value="">Seleccione una provincia</option>
                </select> -->
              </div>
              <div class="form-floating mb-3">
                
                <input value="<%= result.localidad %>" type="text" name="localidad" class="form-control" id="floatingtext">
                <label for="imputLocalidad">Localidad</label>
                <!-- <select name="localidad" class="form-control" id="localidadSelect"></select> -->
                
              </div>
              <div class="form-floating mb-3">
                <input type="text" value="<%= result.direccion %>" name="direccion" class="form-control" id="floatingtext" placeholder="Direccion">
                <label for="floatingtext">
                  Dirección
                </label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" value="<%= result.telefono %>" name="telefono" class="form-control" id="floatingtext" placeholder="Telefono">
                <label for="floatingtext">
                  Telefono
                </label>
              </div>
              <!-- <div class="form-floating mb-3">
                <input type="email" value="<%= /* result.email */ %>" class="form-control" name="email" id="floatingInput" placeholder="Email de usuario">
                <label for="floatingInput">
                  Email
                </label>
              </div> -->
              <!-- <div class="col-12 justify-content-center pregcontra">
                <h3>Actualiza tu contraseña o ingrese la actual para confirmar los cambios</h3>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" name="pass" id="floatingInput" placeholder="Contraseña">
                <label for="floatingInput">Contraseña</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" name="pass2" placeholder="Repetir contraseña">
                <label for="floatingInput">Repetir Contraseña</label>
              </div> -->
            </ul>
            <span id="errorFormPerfil"></span>
            <button class="btn-profile-edit col-4" type="submit">Actualizar</button>
          </form>
          <form action="/users/delete/<%= result.id %>?_method=DELETE" method="POST" class="card-body__form">
            <button class="btn-profile-eliminate col-4" type="submit">Eliminar Perfil</button>
          </form>
        </div>
      </div>




      <%- include("partials/footer") %>
        <%- include("partials/scriptBS") %>
        <script src="/javascript/profileEdit.js"></script>
        <!-- <script src="/javascript/apiProvincias.js"></script> -->
  </body>

</html>