<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
      <div class="container-fluid">
        <div class="profile-edit row ">

          
          <form class=" " action="/users/update/<%= result.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <section class="col-12 col-lg-4">
              <label for="img"><img src="/images/userAvatar/<%= result.avatar %>" alt=""></label>
                  <input type="file" name="image" id="img" value="<%= result.avatar %>">
            </section>
            <div class="">
              <h3>Modifica tus datos personales</h3>
            </div>
            <ul class="">
              <div class="form-floating mb-3">
                <input type="text" value="<%= result.name %>" name="name" class="form-control" id="floatingInput" placeholder="Nombre de usuario">
                <label for="floatingInput">
                  Nombre
                </label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" value="<%= result.last_name %>" name="apellido" class="form-control" id="floatingtext" placeholder="Apellido de usuario">
                <label for="floatingtext">
                  Apellido
                </label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" value="<%= result.email %>" class="form-control" name="email" id="floatingInput" placeholder="Email de usuario">
                <label for="floatingInput">
                  Email
                </label>
              </div>
              <!-- <div class="col-12 justify-content-center pregcontra">
                <h3>Actualiza tu contraseña o ingrese la actual para confirmar los cambios</h3>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" name="pass" id="floatingInput" placeholder="Contraseña">
                <label for="floatingInput">Contraseña</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" name="pass2" placeholder="Repetir contraseña">
                <label for="floatingInput">Repetir Contraseña</label>
              </div> -->
            </ul>
            <button class="btn-profile-edit col-4" type="submit">Actualizar</button>
          </form>
          <form action="/users/delete/<%= result.id %>?_method=DELETE" method="POST" class="card-body__form">
            <button class="btn-profile-eliminate col-4" type="submit">Eliminar Perfil</button>
          </form>
        </div>
      </div>




      <%- include("partials/footer") %>
        <%- include("partials/scriptBS") %>


  </body>

</html>