<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

  <body>
    <%- include("partials/header") %>
      <div class="container-fluid">
        <div class="profile-edit row ">

          <img src="/images/userAvatar/<%= user.avatar %> " alt="">
          <form action="/users/edit/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <section class="product-img col-12">
              <label for="img"><span>Modificar imagen</span></label>
                  <input type="file" name="image" id="img">
            </section>
            <div class="col-12 justify-content-center pregcontra">
              <h3>Modifica tus datos personales</h3>
            </div>
            <ul class="">
              <div class="form-floating mb-3">
                <input type="text" value="<%= user.name %> " name="name" class="form-control" id="floatingInput" placeholder="Nombre de usuario">
                <label for="floatingInput">
                  <%= user.nombre %>
                </label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" value="<%= user.apellido %> " name="apellido" class="form-control" id="floatingtext" placeholder="Apellido de usuario">
                <label for="floatingtext">
                  <%= user.apellido %>
                </label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" value="<%= user.email %> " class="form-control" name="email" id="floatingInput" placeholder="Email de usuario">
                <label for="floatingInput">
                  <%= user.email %>
                </label>
              </div>
              <div class="col-12 justify-content-center pregcontra">
                <h3>Actualiza tu contraseña o ingrese la actual para confirmar los cambios</h3>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" name="pass" id="floatingInput" placeholder="Contraseña">
                <label for="floatingInput">Contraseña</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" name="pass2" placeholder="Repetir contraseña">
                <label for="floatingInput">Repetir Contraseña</label>
              </div>
            </ul>
            <button class="btn-profile-edit col-6" type="submit"><a href="">Actualizar</a></button>
          </form>
          <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST" class="card-body__form">
            <button class="btn-profile-eliminate col-6" type="submit"><a href="">Eliminar usuario</a></button>
          </form>
        </div>
      </div>




      <%- include("partials/footer") %>
        <%- include("partials/scriptBS") %>


  </body>

</html>