<%- include("../partials/head") %>

    <body>
        <script>
            function eliminar() {
                resultado = confirm("¿Seguro que desea eliminar este producto?");
                return resultado;
            }
        </script>
        
        <%- include("../partials/header") %>
            <div class="productList container-fluid">
                <main>


                    <div class="fondoLista table-responsive">
                        <div class="headerAdmin">
                            <p class="">Filtro por categoria</p>
                            <select name="category" id="">
                                <% categorias.forEach(categoria=> { %>
                                    <option value="<%= categoria.id%>">
                                        <%= categoria.name%>
                                    </option>
                                    <% }) %>
                            </select>
                            <p>Orden alfabetico </p>
                            <select name="" id="">
                                <option value="">Descendente</option>
                                <option value="">Ascendente</option>
                            </select>
                            <p>Filtro por precio</p>
                            <select name="" id="">
                                <option value="">Mayor precio</option>
                                <option value="">Menor precio</option>
                            </select>
                            
                            <a class="add1" href="/admin/create">CREAR PRODUCTO</a>
                         

                        </div>
                        

                        <table class="table">
                            <thead>
                                <!--      <tr>
                                    <td colspan="5" class="table-active"><input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"></td>
                                    <th scope="row"><button class="add"><i class="fas fa-plus"></i></button></th>
                                </tr> -->
                                <tr class="columna">
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th class="img" scope="col">Imagen</th>
                                    <th scope="col">Precio</th>
                                    <th class="cate" cope="col">Categoria</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <% productos.forEach(p=> { %>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <p>
                                                <%=p.id %>
                                            </p>
                                        </th>
                                        <td class="name">
                                            <a href="/product/<%= p.id %>">
                                                <p>
                                                    <%=p.name%>
                                                </p>
                                            </a>
                                        </td>
                                        <td class="img">
                                            <img src="/images/productos/<%- p.imagenes[0].name %> " alt="">
                                        </td>
                                        <td class="price">
                                            <p>$<%=p.price.toString().replace( /\B(?=(\d{3})+(?!\d))/g, "." );%>
                                            </p>
                                        </td>
                                        <td class="cate">
                                            <p>
                                                <%=p.categoria.name %>
                                            </p>
                                        </td>
                                        <td class="accion">
                                            <form action="/admin/delete/<%= p.id %>?_method=DELETE" method="POST"
                                                class="card-body__form" id="dele<%= p.id %>">
                                                <button class="delete" type="submit"
                                                onclick="confirmar(event,document.querySelector('#dele<%= p.id %>'))"></i><i
                                                        class="far fa-trash-alt"></i></button>
                                            </form>
                                            <a href="/admin/edit/<%= p.id %>"><button class="edit"> <i
                                                        class="fas fa-pencil-alt"></i></li></button></a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                        </table>
                    </div>
                    
                </main>

            </div>

            <%- include("../partials/footer") %>
                <%- include("../partials/scriptBS") %>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>            
                    <script src="/javascript/alertDeleteProduct.js"></script>
    </body>

    </html>